spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: your password
#    mysql8 此处需要加上时区
    url: jdbc:mysql://127.0.0.1:3306/payx?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8

mybatis:
  configuration:
#    开启驼峰命名
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mappers/*.xml

logging:
  pattern:
    console: "[%thread] %-5level %logger{36} - %msg%n"

# 自己的支付端的配置
wx:
  appid: wx...
  mchId: ...
  mchKey: ...
  notifyUrl: 微信异步通知发送到商户系统（也就是本系统）的apiUrl
